<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jrtc.dao.ArticleDAO">

    <resultMap type="com.jrtc.base.entity.bo.ArticleBO" id="ArticleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="img" column="img" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="digest" column="digest" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ArticleMap">
        select
          id, type, img, title, content, status , create_time,`name`,digest
        from brace.article
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ArticleMap">
        select
          id, type, img, title, content, status , create_time, `name` ,digest
        from brace.article
        limit #{offset}, #{limit}
    </select>

    <!--查询分页通过标题-->
    <select id="queryAllByTitle" resultMap="ArticleMap">
        select
        *
        from brace.article
        <where>
            status='yes'
            <if test="title!=null and title!=''">
             and     title=#{title}
            </if>
            <if test="type!=null and type!=''" >
             and   type =#{type}
            </if>
            <if test="name!=null and name!=''">
             and   `name` = #{name}
            </if>
        </where>

        order by create_time DESC
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ArticleMap">
        select
          id, type, img, title, content, status , create_time,  `name` ,digest
        from brace.article
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="img != null and img != ''">
                and img = #{img}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="name != null and name != ''">
               and `name` = #{name}
            </if>
            <if test="digest != null and digest != ''">
                and `digest` = #{digest}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into brace.article(type, img, title, content, status,create_time,`name`,digest)
        values (#{type}, #{img}, #{title}, #{content}, #{status},now(),#{name},#{digest})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update brace.article
        <set>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="img != null and img != ''">
                img = #{img},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="name != null and name != ''">
                `digest` = #{digest},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from brace.article where id = #{id}
    </delete>

</mapper>