<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【记录】 -->
<mapper namespace="com.jrtc.dao.KeyValueDAO">

    <!--查询配置表配置属性-->
    <select id="getValueByKey" resultType="java.lang.String"    parameterType="java.lang.String">
        SELECT `values` FROM sys_key_value
        where
          `key`=#{key}
    </select>

    <!--查询配置表配置属性-->
    <select id="getKeyValueList" resultType="com.jrtc.base.entity.bo.KeyValueBO">
        SELECT * FROM sys_key_value
    </select>

    <update id="updKeyValue" parameterType="com.jrtc.base.entity.bo.KeyValueBO"   >
        update sys_key_value set `values`=#{values}  where  id=#{id}
    </update>

</mapper>