<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jrtc.dao.UserDAO">

    <resultMap type="com.jrtc.base.entity.bo.UserBO" id="UserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="region" column="region" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
        <result property="organ" column="organ" jdbcType="VARCHAR"/>
        <result property="diagnose" column="diagnose" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="wxid" column="wxid" jdbcType="VARCHAR"/>
        <result property="doctorId" column="doctor_id" jdbcType="INTEGER"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="head" column="head" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="doctor" column="doctor" jdbcType="VARCHAR"/>
        <result property="scheme" column="scheme" jdbcType="VARCHAR"/>
        <result property="braceStatus" column="brace_status" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UserMap">
        select
          id, name, phone, gender, age, region, birthday, organ, diagnose, create_time, password, wxid, doctor_id, state, head , status ,doctor

        from brace.user
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UserMap">
        select
          id, name, phone, gender, age, region, birthday, organ, diagnose, create_time, password, wxid, doctor_id, state, head ,status ,doctor
        from brace.user
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="UserMap">
        select
          *
        from brace.user
        <where>
            <if test="user.id != null">
                and id = #{user.id}
            </if>
            <if test="user.name != null and user.name != ''">
                and name like concat(concat("%",#{user.name}),"%")
            </if>
            <if test="user.phone != null and user.phone != ''">
                and phone = #{user.phone}
            </if>
            <if test="user.gender != null and user.gender != ''">
                and gender = #{user.gender}
            </if>
            <if test="user.age != null">
                and age = #{user.age}
            </if>
            <if test="user.region != null and user.region != ''">
                and region = #{user.region}
            </if>
            <if test="user.birthday != null">
                and birthday = #{user.birthday}
            </if>
            <if test="user.organ != null and user.organ != ''">
                and organ like concat(concat("%",#{user.organ}),"%")
            </if>
            <if test="user.diagnose != null and user.diagnose != ''">
                and diagnose = #{user.diagnose}
            </if>
            <if test="user.createTime != null">
                and create_time = #{user.createTime}
            </if>
            <if test="user.password != null and user.password != ''">
                and password = #{user.password}
            </if>
            <if test="user.wxid != null and user.wxid != ''">
                and wxid = #{user.wxid}
            </if>
            <if test="user.doctorId != null">
                and doctor_id = #{user.doctorId}
            </if>
            <if test="user.state != null and user.state != ''">
                and state = #{user.state}
            </if>
            <if test="user.head != null and user.head != ''">
                and head = #{user.head}
            </if>
            <if test="user.status!=null and user.status!=''">
                and status=#{user.status}
            </if>
            <if test="user.doctor!=null and user.doctor!=''">
                and doctor=#{user.doctor}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into brace.user(name, phone, gender, age, region, birthday, organ, diagnose, create_time, password, wxid, doctor_id, state, head , status ,doctor)
        values (#{name}, #{phone}, #{gender}, #{age}, #{region}, #{birthday}, #{organ}, #{diagnose}, #{createTime}, #{password}, #{wxid}, #{doctorId}, #{state}, #{head} ,#{status},#{doctor})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update brace.user
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="region != null and region != ''">
                region = #{region},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="organ != null and organ != ''">
                organ = #{organ},
            </if>
            <if test="diagnose != null and diagnose != ''">
                diagnose = #{diagnose},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="wxid != null and wxid != ''">
                wxid = #{wxid},
            </if>
            <if test="doctorId != null">
                doctor_id = #{doctorId},
            </if>
            <if test="state != null and state != ''">
                state = #{state},
            </if>
            <if test="head != null and head != ''">
                head = #{head},
            </if>
            <if test="status!=null and status!=''">
                 status=#{status} ,
            </if>
            <if test="doctor!=null and doctor!=''">
                doctor=#{doctor} ,
            </if>
            <if test="braceStatus!=null and braceStatus!=''">
                brace_status=#{braceStatus} ,
            </if>
            <if test="scheme!=null and scheme!=''">
                scheme=#{scheme} ,
            </if>
            <if test="openId!=null and openId!=''">
                open_id=#{openId} ,
            </if>
        </set>
        where id = #{id}
    </update>


    <!--通过主键修改数据-->
    <update id="updatePassword">
        update brace.user
         set  `password` = #{password}
        where `phone`=#{phone}
    </update>
    <!--通过主键删除-->
    <delete id="deleteById">
        delete from brace.user where id = #{id}
    </delete>



    <!--通过手机号找查用户-->
    <select id="queryByPhone" resultMap="UserMap" >
        select * from user where phone=#{mobile}
    </select>


    <!--查询医生-->
    <select id="queryDocId" resultType="com.jrtc.base.entity.bo.DoctorBO" >
        select id,name from user where doctor='yes' and status='yes'
    </select>

    <select id="queryCount"  resultType="int" >
            SELECT count(*) FROM `user` WHERE state=#{state} and `name` like concat(concat("%",#{name}),"%") AND doctor_id=#{doctorId} AND status='yes'
    </select>


    <resultMap type="com.jrtc.base.entity.bo.PatientBO" id="PatientMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="head" column="head" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="diagnose" column="diagnose" jdbcType="VARCHAR"/>
    </resultMap>



    <select id="queryPatient" resultMap="PatientMap">
        select
        *
        from brace.user
        <where>
            <if test="user.doctorId != null">
                and doctor_id = #{user.doctorId}
            </if>
            <if test="user.state != null and user.state != ''">
                and state = #{user.state}
            </if>
            <if test="user.status!=null and user.status!=''">
                and status=#{user.status}
            </if>
            <if test="user.name!=null and user.name!=''">
                and  `name` like concat(concat("%",#{user.name}),"%")
            </if>

        </where>
    </select>

    <select id="queryUserByPhone" resultType="int" >
  select
          count(id)
        from brace.user  where phone=#{phone}
    </select>


</mapper>